
h1 {
    margin-top: 1em;
    color: #E5C5EC;
    text-align: center;
}

/* Whole link section */

#link-section{
    /* width: 50%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Links themselves */

.bloglink{
    display: inline-block;
    text-align: center;
    justify-content: space-evenly;
    color: #5A8F15;
    background-color: #E5C5EC;
    margin: 5vw;
    padding: 10% 2%;
    border-radius: 2em;
}

details a {
    text-decoration: none;
    color: rgb(9, 72, 6);
    font-size: 1.5em;
}

details :active {
    background-color: #dcabe7;
    transform: scale(1.1);
    border-radius: 2em;
}

#link-section :hover{
    background-color: #dcabe7;
    border-radius: 2em;
}

/* Images */

.linkimg {
    width: 90%;
    border-radius: 1em;
}

/* Tablet  */



@media only screen and (min-width: 768px){

    /* Whole link section */
    #link-section{
    width: 50%;
    margin: 0 25%;
    flex-direction: column;
    justify-content: center;
    }
    /* Buttons */
    .bloglink {
        padding: 2%;
    }
}

/* Desktop */

@media only screen and (min-width: 958px){

    /* Text size */
    time {
        font-size: 2em;
    }
}