* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #5A8F15;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

article {
    flex: 1;
}


/* CSS for the Nav bar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E5C5EC;
    color: #5A8F15;
    position: sticky;
    top: 0;

}

nav img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    position: relative;
    margin-bottom: -2em;
}

nav a {
    font-size: 1.2em;
    text-decoration: none;
}

nav a:hover {
    color: #5A8F15;
}

/* CSS for the footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E5C5EC;
    position: flex-end;
    min-height: 10vh;
}

footer p {
    font-weight: bold;
    color: #5A8F15;
    margin: auto;
    font-size: 6vw;
}

.social-buttons{
    height: 5vw;
    width: 5vw;
    margin: 1rem;
}