* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: Yrsa;
}

section {
    display: flex;
    align-items: center;
}

h2{
    color: #E5C5EC;
    margin: 2vw;
}

p {
    color: #E5C5EC;
}


/* CSS for Profile */

#profile{
    margin-top: 1em;
}

#profile h2{
    font-size: 2em;
    vertical-align: baseline;
}

/* CSS for Employment History */

#employment{
    margin-top: 1em;
    text-align: right;
}

/* CSS for Education */

#education{
    vertical-align: text-top;
}

/* CSS for References */

#references{
    text-align: right;
}

/* CSS for Download button */

#download-btn {
    background-color: #E5C5EC;
    color: #0e5e23;
    border-radius: 3em;
    border: #E5C5EC solid 0.5em;
    text-align: center;
    font-size: 1.5em;
    margin: 10%;
    padding: 0.5em 1em;
    text-decoration: none;
  }

  #download-btn:hover {
    background-color: #0e5e23;
    color: #E5C5EC;
  }


section:nth-child(6){
    display: flex;
    justify-content: center;
  }

 
/* Code for images */

.resumeimg {
    border-radius: 3rem;
    background-color: #E5C5EC;
    opacity: 0.5;
    z-index: -1;
}

.resumeimg:hover{
    animation-name:opacitychange;
    animation-fill-mode: forwards;
}

@keyframes opacitychange {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}