* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Yrsa;
}

header{
    display: flex;
    justify-content: flex-end;
}

p{
    color: #E5C5EC;
    font-size: 2em;
}

/* CSS For Picture */
#headerpic {
    height: 60vw;
    width: 60vw;
    border-radius: 50%;
}


/* CSS For Name */
h1 {
    margin:-0.4em 0em -0.4em 10vh;
    font-weight: bold;
    color: #E5C5EC;
    font-size: 16vw;
}

h1:nth-child(2){
    position: relative;
    left: 13vw;
}


#name {
    position: relative;
    top: 5em;
    left: 14vw;
}

/* Description */
#description {
    margin: 3vw 0 1vw 10vw;
}

#description p {
    font-size: 7vw;
}
/* Button Menu */
.button {
    background-color: #5A8F15;
    color: #E5C5EC;
    border: 0;
    padding: 2vw 2vw;
    text-align: center;
    display: inline-block;
    font-size: 6vw;
    border-radius: 10vw;
}
/* CSS Flexbox */
#grid {
    margin: 10vh 0 0 0;
    display: flex;
    flex-direction: column;

}

#grid-top {
    width: 33%;
}

#grid-middle {
    justify-self: center;
    width: 33%;
    position: relative;
    left: 33vw;
}

#grid-bottom {
    flex: 1;
    width: 33%;
    padding: 0 0 10% 0;
    position: relative;
    left: 66%;
}


.button:hover{
    background-color: #E5C5EC;
    color: #5A8F15;
}

.hiddentext {
    font-size: 0.7em;
    font-style: oblique;
    color: #5A8F15;
}

/* Styling for Tablet */

@media only screen and (min-width:650px) {

    /* Picture */
    #headerpic {
        height: 40vw;
        width: 40vw;
    }

    /* Name */
    #name {
        position: relative;
        top: 5em;
        left: -9vw;
        margin: 0;
    }

    h1{
        font-size: 13vw;
    }

    /* Grid Menu*/
    #grid {
        margin: 10vh 0 2vh 0;
        display: flex;
        flex-direction: column;
    }

    #grid-bottom {
        padding: 0;
    }
}

/* Desktop */
@media only screen and (min-width: 1000px) {

    /* Picture */
    #headerpic {
        height: 30vw;
        width: 30vw;
    }

    /* Name */
    #name {
        position: relative;
        top: 5em;
        left: -9vw;
        margin: 0;
    }

    h1{
        font-size: 10vw;
    }


    /* Description */
    #description {
       position: relative;
       bottom: 4em;
    }
    #description p {
        font-size: 5vw;
    }

    /*  Grid Menu*/
    #grid {
        margin: 10vh 0 2vh 0;
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .button {
        padding: 2vw 2vw;
        font-size: 4vw;
    }

}

