<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Headings are block elements</h1>
    <p>Paragraphs are blocks, too. <em>However</em>, en and <strong>strong</strong> elements are not. They are <strong>inline</strong> elements.</p>
    <p>Block elements define the flow of an HTML document, while inline elements do not. </p>
    <div class="btn">Button
        <img src="https://placekitten.com/500/500" alt="Placeholder">
    </div>
</body>
</html>